<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpeechToTextAPI - Home</title>
  </head>
  <body>
    <center><h1>Welcome to SpeechToTextAPI</h1></center>
    <p>
      Yup, no fancy name or anything this time, just something to get the job
      done.
    </p>

    <hr />
    <center><h2>How to use it</h2></center>
    <p>Refer to the documentation on the Github page for this repo.</p>
    <hr />
    <center><h2>Where's the Github page for this repo</h2></center>
    <p>
      It's right...
      <a href="https://github.com/IsaiahSama/SpeechToTextAPI">here.</a>
    </p>
    <hr />
  </body>
</html>
